<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title breaddit
  body
    nav 
      if user
        div welcome, #{user.username}
        form(method='post' action='/users/logout')
          button(type='submit') logout
      else
        a(href='/users/login') login
        br
        a(href='/users/register') sign up
    block content
    footer
      block footer