/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

input {
  display: block;
  margin-bottom: 10px;
}

span {
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}

nav {
  height: 30px;
  background: black;
  color: white;
  text-align: right;
  padding: 5px 15px 0 0;
}
