ul, li {
  list-style: none;
}

main {
  padding:20px;
}

.product-section {
  margin-bottom: 50px;
  
}

.product-list {
  display:flex;
  padding:0px;
}

h2 {
  font-style: italic;
}

.product-list__item {
  display:flex;
  flex-direction: column;
  width:260px;
  overflow: hidden;
  margin-right:20px;
  align-items: center;
  padding:20px;
  border-radius:  10px;
  box-sizing: border-box;
      box-shadow: 0 0 10px grey;
    background: #f8f8f8;
}

img {
  height:200px;
}